.navbar{
    padding: 10px 0;
    display: inline-flex;
    align-items: center;
    color: black;
    gap:40px;
    margin-top: 30px;
}

.navbar h1{
    font-size: 30px;
    font-weight: 800;
}

.navbar p{
    font-size: 16px;
    border-radius: 50px;
    background-color: #d9d9d9;
    padding: 5px 20px;
}

